    // *********** Functions for positioning elements *********** // 

@mixin flexProperty($direction, $spacing, $aligning){
    display: flex;
    flex-direction: $direction;
    justify-content: $spacing;
    align-items: $aligning;
}