@media screen and (max-width: 600px) {
  #logo-container {
    margin-top: .2rem;  
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  html body .loading-container img {
    width: 30%;
  }
}

@media screen and (max-width: 400px) {
  html body .loading-container img {
    width: 40%;
  }
}