@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-transform: uppercase;
  cursor: pointer;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif !important;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 20px;
}

html::-webkit-scrollbar-track {
  background: none;
}

html body {
  overflow-x: hidden;
}

html body .loading-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

html body .loading-container img {
  width: 20%;
}

html body header nav #logo-container {
  padding-top: 1rem;
  height: 50px;
  width: 100px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body header nav #logo-container span.crossfader-rail {
  width: 100%;
  height: 5px;
  background-color: #000;
}

html body header nav #logo-container span.crossfader-slider {
  position: absolute;
  left: 20px;
  width: 5px;
  height: 40px;
  -webkit-box-shadow: 0 0 0 5px #000;
          box-shadow: 0 0 0 5px #000;
  background-color: #ccc;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

html body header nav #logo-container:hover span.crossfader-slider {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

html body header nav #visible-links li a {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  border-bottom: 5px solid rgba(0, 128, 128, 0);
}

html body header nav #visible-links li:hover a {
  border-bottom: 5px solid teal;
  background: none;
}

html body .quote-border {
  border-left-color: teal !important;
}

html body main {
  width: 100%;
  margin: 0 auto;
}

html body main .slider {
  width: 100% !important;
  height: 85vh !important;
}

html body main .slider .slides {
  height: 85vh !important;
}

html body main .slider .slides .caption {
  margin-top: 8rem !important;
}

html body main .cross-section {
  width: 100%;
  height: 25vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
  background-color: #eeeeee;
}

html body main .opposite {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 15%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 15%);
}

html body main .card-textContent {
  font-size: 1.15rem !important;
}

html body main #biography-section {
  margin-top: 100px !important;
}

html body main #product-item a img {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

html body main #product-item a:hover img {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

html body main .tabs .indicator {
  background-color: teal !important;
}

html body main .tabs .tab a:hover {
  cursor: pointer;
}

html body main .tabs .tab a:focus {
  background-color: rgba(0, 128, 128, 0.2) !important;
}

html body main .tabs .tab a:focus .active {
  background-color: rgba(0, 128, 128, 0.2) !important;
}

html body main .resize img {
  width: 100% !important;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

html body main .resize img:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

html body main #price {
  font-size: 1rem !important;
}

html body main .margin-top {
  margin-top: 3rem !important;
}

html body main .underline {
  border-bottom: 2px solid teal;
  padding-bottom: 5px !important;
}

html body main .community-text {
  font-weight: 200 !important;
}

html body main .pointer {
  cursor: pointer;
}

html body main .resize-card {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

html body main .resize-card:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

html body main iframe {
  border: 0;
  width: 100%;
  height: 400px;
}

html body main .textarea {
  width: 100%;
  height: 180px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #b4b4b4;
  padding: 10px;
  resize: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

html body main .textarea:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid teal;
}

html body main .fail {
  border-bottom-color: red !important;
}

html body main .pass {
  border-bottom-color: teal !important;
}
/*# sourceMappingURL=style.css.map */